.youtube-container {
    max-width: 1120px;
    margin: 0 auto;
}

.youtube-small {
    display: flex;
}

.youtube-small iframe {
    width: 590px;
    height: 330px;
}

.youtube1 {
    padding-right: 20px;
}

.youtube3 iframe {
    margin-top: 10px;
    width: 1200px;
    height: 670px;

}

@media (max-width:1024px) {
    .youtube-small {
        flex-direction: column;
    }

    .youtube-small iframe {
        width: 100%;
    }

    .youtube1 {
        padding-right: 0px;
    }

    .youtube3 iframe {
        width: 100%;
        height: 330px;
    }
}