/* main2 */
.hocance {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    /* vertical-align: middle; */
    margin-top: 0px;
    padding-top: 650px;
    padding-left: 60px;
    padding-bottom: 60px;

}
h1 {
    display: block;
    /* font-family: ; */
    font-size: 1.5em;
    font-weight: 700;
    color: #051e3e;
    text-align: center;
}
.box-text {
    /* box-sizing: content-box; */
    vertical-align:bottom;

}
h2 {
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 40px;
    font-weight: 600;
    /* margin: 40px; */
    
}
p { 
    font-size: 1rem;
    margin-top: 60px;
}
.pet {
    background: url(./stjohns-image/main/pet.jpg) no-repeat left ;
    background-size: cover;
    width: 100vw;
    height: auto;
    min-height: 300px;
    max-height: 950px;
    /* flex: 1 auto; */
}
.kidsclub {
    background: url(./stjohns-image/main/kidsclub.jpg) no-repeat right ;
    background-size: cover;
    width: 100vw;
    min-height: 300px;
    max-height: 950px;
    /* flex: 1 auto; */
}
@media (min-width : 1000px) {
    .hocance {
        flex-direction: row;
    }
    .pet {
        width: 50%;
        /* flex: 1 auto; */
    }
    .kidsclub {
        width: 50%;
        /* flex: 1 auto; */
    }
}



